

#navbar .logo img {
    height: 8vh;
}

#navbar header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.3s;
    background-color: var(--text-color);
}

#navbar .navbar {
    display: flex;
    column-gap: 5rem;
}

#navbar .navbar li {
    position: relative;
}

#navbar .navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

#navbar .navbar a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.3s all linear;
}

#navbar .navbar a:hover::after, #navbar .navbar .active::after {
    width: 100%;
}

#navbar .login_sm {
    display: none;
}

#navbar #menu-icon {
    font-size: 32px;
    cursor: pointer;
    z-index: 6;
    display: none;
}

#navbar .btn {
    padding: 0.7rem 1.4rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    transition: 0.3s;
}

#navbar .btn:hover {
    background-color: #c79d06;
}


@media (max-width: 991px) {
    header {
        padding: 18px 4% !important;
    }
}

@media (max-width: 774px) {
    header {
        padding: 12px 4% !important;
    }
    #menu-icon {
        display: initial !important;
        columns: var(--bg-color) !important;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -1000px;
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        background-color: var(--text-color) !important;
        row-gap: 1.4rem !important;
        padding: 20px !important;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }
    .navbar a {
        color: var(--bg-color) !important;
        width: 100%;
    }
    .navbar a:hover {
        color: var(--main-color) !important;
        border-bottom: 1px solid var(--main-color);
    }
    .navbar a::after {
        display: none;
    }
    .navbar.active {
        right: 0;
    }
    #navbar .logo img {
        height: 6vh;
    }
    #navbar .btn {
        display: none;
    }
    #navbar .login_sm {
        display: inline;
    }
}
